body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 3.125rem auto 0 auto;
  font-size: 6rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 4rem;
  color: #66BFBF;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 2.5rem;
  color: #11999E;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 40px;
  width: 12.5%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
  width: 12.5%;
}

.my-skills-left-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.my-skills-right-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.job-title {
  margin-top: 0;
  color: #66BFBF;
  font-weight: normal;
}

a {
  color: #11999E;
}

hr {
  border-style: dotted none none;
  border-color: rgb(201, 198, 198);
  border-width: 10px;
  width: 4%;
}

.profile {
  width: 50%;
  text-align: center;
  margin: 50px auto;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto;
}

.middle-container {
  color: #40514E;
  line-height: 2;
  font-weight: bold;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0;
  margin-top: 50px;
}


.bottom-container a {
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
}

.bottom-container a:hover {
  color: #eaf6f6;
}

.bottom-container p {
  color: #EAF6F6;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  font-size: 0.75rem;
}

.credit {
  font-size: 0.5rem;
}